{ config, pkgs, lib, ... }:

{
  networking.wireless.enable = true;
  networking.hostName = "spiral";

  # Touchpad (should be enabled by default though).
  services.xserver.libinput.enable = true;
}
