{ config, lib, pkgs, ...}:

{
  # Some things have to be different for separate devices. For example,
  # my laptop uses MBR while my desktop PC uses EFI.
  # All settings that are device specific are put into a dist file per
  # device, so I can use only the one relevant for my device while still
  # keeping stuff in version control.
  #
  # E.g. on my PC I would run `ln -s device-specific-configuration.nix.pc.dist device-specific-configuration.nix`

  boot.loader.grub = {
    enable = true;
    useOSProber = true;
    device = "/dev/nvme0n1";
  };
  networking.hostName = "whirlpool";
}
