{ config, pkgs, lib, ... }:

{
  imports = [ "${builtins.fetchGit { url = "https://github.com/NixOS/nixos-hardware.git"; }}/lenovo/ideapad/z510" ];

  networking.hostName = "spiral";

  # Touchpad (should be enabled by default though).
  services.libinput.enable = true;

  boot.loader.systemd-boot.enable = true;
  boot.loader.efi.canTouchEfiVariables = true;
  boot.loader.grub.device = "nodev";

  hardware.bluetooth.enable = true;
  services.blueman.enable = true;

  # Apple keyboard
  boot.extraModprobeConfig = ''
    options hid_apple swap_fn_leftctrl=1
    options hid_apple swap_opt_cmd=1
    options hid_apple fnmode=2
   '';
}
